<section>
	<div>
		<h1> Welcome <%= @user.user_name %> </h1>
	</div>

</section>

<section>

	<button> EDIT PROFILE </button>
	<button> CREATE PROJECT </button>
	<button> DELETE PROFILE </button>
	<button> MY PROJECTS </button>

</section>


<section>
	<h3> Projects that can interest you... </h3>

		<div>

			<% @projects.each do |project| %>

				<% if @user.skills_or_position_matching? project %>

					<%=  project.project_name %>

				<% end %>

			<% end %>

		</div>



</section>


