<section>

	<% @users.each do |user| %>

	<div>

		<img class="user_image_index" src=<%=user.user_image %>>
	</div>

	<div>

		<ul>
			<li><%= user.user_name %></li>
		<ul>
	</div>

	<% end %>
	
</section>
