/*
  Place all the styles related to the matching controller here.
  They will automatically be included in application.css.
*/

.form {
  text-align:center;
  margin: 0 auto 10px;
  padding: 20px 0 10px 0;
  font-size: 16px;
  width: 500px;
}

input[type=text],
input[type=email],
input[type=password] {
  color: #666666;
  width: 100%;
  border: 1px solid #E6E6E6;
  border-radius: 0px; 
  height: 60px;
  margin: 6px auto;
  text-indent: 10px;
} 

select {
  color: #666666;
  width: 100%;
  border: 1px solid #E6E6E6;
  border-radius: 0px; 
  height: 60px;
  margin: 6px auto;
  text-indent: 10px;
} 

.btn-submit {
  color: #FFFFFF;
  font-size: 18px;
  text-transform: uppercase;
  background: #c91717;
  padding: 10px 20px;
  border: 0;
  margin-top: 6px;
}

/*PROJECTS INDEX */

.project_index_box{
  width: 400px;
  height: 700px;
}

.project_index_box img{
  border-bottom: solid #e6e6e6 1px;
}


}
.btn .btn-block:active, .btn .btn-lg:active {
    -webkit-box-shadow: inset 0 3px 3px -5px rgba(0,0,0,.3);
       -moz-box-shadow: inset 0 3px 3px -5px rgba(0,0,0,.3);
            box-shadow: inset 0 3px 3px -5px rgba(0,0,0,.3);
}

.btn-info {
  width: 100%;
  color: #FFFFFF;
  font-size: 18px;
  background: #4f4f4f;
  padding: 10px 20px;
  margin-top: 6px;
  text-align: center;
}

.btn-info:hover, .btn-info:focus {
  text-decoration: none;
  background-color: #dbdbdb;
  opacity: 0.6;
}

.btn-info a{
  color: #FFFFFF;
  text-decoration: none;
}

.btn-delete{
  width: 100%;
  color: #FFFFFF;
  font-size: 18px;
  background: #c20000;
  padding: 10px 20px;
  margin-top: 6px;
  text-align: center;

}

.btn-delete:hover, .btn-delete:focus{
  text-decoration: none;
  background-color: #dbdbdb;
  opacity: 0.6;
}

.btn-delete a{
  color: #FFFFFF;
  text-decoration: none;
}

/*PROJECT VIEW*/

.btn-skill{
  width:100%;
  border-bottom: solid 1px #e3e3e3;
    padding-top: 0px;
  padding-bottom: 10px;
  font-size: 14px;
  text-align: center;
  margin-top:0px;
  margin-bottom: 0px;

}

.btn-skill h4{
  margin-top: 0px;
}

.btn-skill:hover{
  text-decoration: none;
  background-color: #e3e3e3;
  text-transform: uppercase;
  font-weight: bold;
}

.btn-sendEmail{
  width:200px;
  border-bottom: solid 1px #e3e3e3;
  padding-top: 15px;
  color:#FFFFFF;
  padding-bottom: 15px;
  background: #ff8a66;
  font-size: 18px;
  font-weight: bold;
  text-align: center;
  margin-top:0px;
  margin-bottom: 0px;

}

.btn-sendEmail a{
  color: #FFFFFF;
  text-decoration: none;
}

.btn-sendEmail:hover{
  text-decoration: none;
  background-color: rgba(64, 64, 64, 0.6);
  opacity: 0.6;
}

.box-1-project{
  margin-left: 15px;
}

