/*
  Place all the styles related to the matching controller here.
  They will automatically be included in application.css.
*/

/* STYLE FOR NAVBAR */

#main-menu{
	position: absolute;
	z-index: 3;
	margin-top: -40px;
}


#main-menu .nav-bar { list-style:none; margin-top: 40px; }
#main-menu .nav-bar li { display:inline; padding:0 10px; }

#main-menu .nav-bar li a {
  text-decoration: none;
  padding-left: 25px;
  color: #333;
  text-shadow: 1px 1px 1px #ccc;
}

/* STYLE FIRST SECTION */

div#carousel { 
  perspective: 1200px; 
  background: #100000; 
  padding-top: 10%; 
  font-size:0; 
  margin-bottom: 3rem; 
  overflow: hidden; 
}
figure#spinner { 
  transform-style: preserve-3d; 
  height: 300px; 
  transform-origin: 50% 50% -500px; 
  transition: 1s; 
} 
figure#spinner img { 
  width: 40%; max-width: 425px; 
  position: absolute; left: 30%;
  transform-origin: 50% 50% -500px;
  outline:1px solid transparent; 
}
figure#spinner img:nth-child(1) { transform:rotateY(0deg); 
}
figure#spinner img:nth-child(2) { transform: rotateY(-45deg); }
figure#spinner img:nth-child(3) { transform: rotateY(-90deg); }
figure#spinner img:nth-child(4) { transform: rotateY(-135deg); }
figure#spinner img:nth-child(5){ transform: rotateY(-180deg); }
figure#spinner img:nth-child(6){ transform: rotateY(-225deg); }
figure#spinner img:nth-child(7){ transform: rotateY(-270deg); }
figure#spinner img:nth-child(8){ transform: rotateY(-315deg); }
div#carousel ~ span { 
  color: #fff; 
  margin: 5%; 
  display: inline-block; 
  text-decoration: none; 
  font-size: 2rem; 
  transition: 0.6s color; 
  position: relative; 
  margin-top: -6rem; 
  border-bottom: none; 
  line-height: 0; }
div#carousel ~ span:hover { color: #888; cursor: pointer; }

/*STYLE FOR SECOND SECTION */


.container-fluid{
	margin: 0px;
	padding-left: 0px !important;
	padding-right: 0px !important;

}

#letters_main_image{
	position: absolute;
	margin-left: 300px;
	margin-top: 120px;
	z-index: 2;
	font-size: 44px;
	font-style: bold;
}

#site_main_image{
	width: 100%;
	height: 400px;
}

.user_home_image{
	width: 300px;
	height: 200px;
	margin-top: 0px;
	margin-left: 50px;
}

.project_home_image{
	width: 300px;
	height: 200px;
	margin-top: 25px;
	margin-left: 70px;
}

.projects_list_home{
	list-style: none;
	font-size: 16px;

}

.users_list_home{
	list-style: none;
	font-size: 16px;
	margin-left: 70px;	
}

.projects_home_display{
	float: left;
	margin-left: 50px;
	margin-top: 50px;

}

.users_home_display{
	float: left;
	margin-left: 70px;
	margin-top: 0px;


}

.round {
	margin-top:  0px;
	border-radius: 50%;
	overflow: hidden;
	width: 250px;
	height: 250px;
}

/* FOOTER SECTION */

footer{
	background-color: black;
	color: white;
}

