/*
  Place all the styles related to the matching controller here.
  They will automatically be included in application.css.
*/

/* FORM FOR USER */

#signup_intro{
  text-align: center
}

.form {
  text-align:center;
  margin: 0 auto 10px;
  padding: 20px 0 10px 0;
  font-size: 16px;
  width: 500px;
}

input[type=text],
input[type=email],
input[type=password],
input[type=file] {
  color: #666666;
  width: 100%;
  border: 1px solid #E6E6E6;
  border-radius: 0px; 
  height: 60px;
  margin: 6px auto;
  text-indent: 10px;
} 

select {
  color: #666666;
  width: 100%;
  border: 1px solid #E6E6E6;
  border-radius: 0px; 
  height: 60px;
  margin: 6px auto;
  text-indent: 10px;
} 


.btn-submit {
  color: #FFFFFF;
  font-size: 18px;
  text-transform: uppercase;
  background: #4f4f4f;
  padding: 10px 20px;
  margin-top: 6px;
}

/* USERS INDEX VIEW*/

.user_index{
  margin-top: 60px;
  margin-left: 4px;
}


.user_image_index{
  width: 400px;
  height: 400px;
}

.user_index_box{
  width: 400px;
  height: 800px;

}

.thumbnail img{
    width: 400px;
    height: 400px;
}


.btn-info {
  width: 100%;
  color: #FFFFFF;
  font-size: 18px;
  background: #4f4f4f;
  padding: 10px 20px;
  margin-top: 6px;
  text-align: center;
}

.btn-info a{
  color: #FFFFFF;
}

.btn-info:hover{
  text-decoration: none;
  background-color: rgba(64, 64, 64, 0.6);
  opacity: 0.6;
}


/* USER PROFILE VIEW */

.fb-image-lg{
    z-index: 0;
    width: 100%;
    height: 50vh;  
    margin-bottom: 10px;
}

.fb-image-profile
{   
    margin: -90px 10px 30px 50px;
    z-index: 9;
    width: 250px; 
    height: 250px;
    border-radius: 50%;
}
.profile-menu-box{
  margin-bottom: 30px;
  margin-left: 30px;
}
.profile-menu-box .btn{
  width:200px;

}
.sections-box{ 
  margin: auto;
  margin-top: 100px;
}

.education-section{
  text-align: center;
}


.section-title{
  text-align: center;
  padding-top: 15px;
  padding-bottom: 15px;
  color:#FFF;
  font-style: italic;
  border-top: solid 1px #e3e3e3;
  background-color: #4f4f4f
}


.btn-skill{
  width:100%;
  border-bottom: solid 1px #e3e3e3;
  padding-top: 15px;
  padding-bottom: 15px;
  font-size: 14px;
  text-align: center;
  margin-top:0px;
  margin-bottom: 0px;

}

.btn-skill:hover{
  text-decoration: none;
  background-color: #e3e3e3;
  text-transform: uppercase;
}
/*MATCHING PROJECTS*/


.matching-projects-section{
  background-color: #4f4f4f;
  padding-top:15px;
}

.matched{
  height: 600px;
}
  